build.xml
.settings/
build/
'Source Packages/java/version.properties'
WebContent/WEB-INF/classes/
.project
.classpath
/dist/
nbproject/
*.properties
/_site
/.vscode
/node_modules
package-lock.json
package.json
