<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project name="build" basedir="." default="deploy">
	
	<!-- specific on linux server, to allow successful compilation -->
	<property name="tomcat.libs" value="/usr/share/tomcat8/lib/" />
	
	<presetdef name="javac">
		<javac includeantruntime="false" />
	</presetdef>
	
	<path id="compile.classpath">
	    <fileset dir="WebContent/WEB-INF/lib">
	        <include name="*.jar"/>
	    </fileset>
		<fileset dir="${tomcat.libs}">
			<include name="*.jar"/>
		</fileset>
	</path>
		
	<target name="init">
		<property name="sourceDir" value="src" />
		<property name="outputDir" value="WebContent/WEB-INF/classes" />
		<property name="versionfile" value="src/version.properties"/>
		
		<property name="web.src" value="WebContent" />
		<!-- eventual destination of the webapp (in the tomcat webapps directory) -->
		<property name="web.dest" value="/var/lib/tomcat8/webapps/tpen" />
		
		<!-- web.dest is required -->
		<fail message="You must specify a destination for the compiled application.">
			<condition>
				<equals arg1="${web.dest}" arg2="" />
			</condition>
		</fail>
	</target>
	
	<target name="clean" depends="init">
		<delete dir="${outputDir}" />
	</target>
	
	<target name="prepare" depends="clean">
		<mkdir dir="${outputDir}"/>
	</target>
	
	<target name="compile" depends="prepare">
		<javac srcdir="${sourceDir}" destdir="${outputDir}">
			<classpath refid="compile.classpath" />
		</javac>
		<copy file="${versionfile}" todir="${outputDir}" />
	</target>
	
	<target name="deploy" depends="compile,init">
		<copy todir="${web.dest}">
			<fileset dir="${web.src}" />
		</copy>
	</target>
	
</project>
